@tailwind base;
/* @tailwind components; */
@tailwind utilities;

.secret {
  background-image: url("/assets/img/secret.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.secret-ellipse {
  background-image: url("/assets/img/secret-ellipse.svg");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: 150%;
}

@media screen and (max-width: 768px) {
  .secret {
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .secret-ellipse {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 150%;
  }
}
