@tailwind base;
/* @tailwind components; */
@tailwind utilities;
@import url("./font.css");

body {
  font-family: "GothamPro", sans-serif;
}
.secret {
  background-image: url("/assets/img/secret.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.secret-ellipse {
  background-image: url("/assets/img/secret-ellipse.svg");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: 150%;
}

@media screen and (max-width: 768px) {
  .secret {
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .secret-ellipse {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 150%;
  }
}

.light {
  background: #3ea9e0;
  background: -moz-linear-gradient(
    70deg,
    #3ea9e0 0%,
    #3ea9e0 5%,
    #3ea9e0 5%,
    #3ea9e0 42%,
    #3ea9e0 49%,
    #6ec6ef 53%,
    #3ea9e0 59%,
    #3ea9e0 100%
  );
  background: -webkit-linear-gradient(
    70deg,
    #3ea9e0 0%,
    #3ea9e0 5%,
    #3ea9e0 5%,
    #3ea9e0 42%,
    #3ea9e0 49%,
    #6ec6ef 53%,
    #3ea9e0 59%,
    #3ea9e0 100%
  );
  background: linear-gradient(
    70deg,
    #3ea9e0 0%,
    #3ea9e0 5%,
    #3ea9e0 5%,
    #3ea9e0 42%,
    #3ea9e0 49%,
    #6ec6ef 53%,
    #3ea9e0 59%,
    #3ea9e0 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3EA9E0', endColorstr='#3EA9E0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 221%;
}

@keyframes light {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes light {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 0px;
  }
}
